*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic1.jpg);
  height: 30vh;
  
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 20px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 1.3s ease;
  margin-right: -10px;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.main{
  max-width: 1200px;
  margin: right;
}

.title{
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title h1{
  color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  font-size: 60px;
  animation: scale-in 1.3s ease-out;
}

.bar{
  width: 100%;
  height: 100px;
  background-color: #000;
  opacity: 0.4;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 23%;
  position: absolute;
  animation: roll-out 1.2s ease-out;
}

@keyframes scale-in{
  0%{
    transform: scale(3,3); opacity: 0;
  }
  100%{
    transform: scale(1,1); opacity: 1;
  }
}
@keyframes roll-out{
  0%{
    width:  0%;
  }
  100%{
    width: 100%;
  }
}

p{
  font-family: 'Yanone+Kaffeesatz', cursive; 
  color: #fff;
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 20px;
}

.copyright{
  text-align: center;
}

table, td{
  border: 8px solid black;
  border-collapse:collapse;
}

td{
  padding: 10px;

}

th{
  column-span: 3px;
  color: black;
  background-color: yellow;
}

img{
  width: 200px;
}

td{
  color: white;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}