*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic1.jpg);
	height: 150vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 1.3s ease;
	margin-right: -10px;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: right;
}

.title{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.title h1{
	color: #fff;
	position: absolute;
	top: 300px;
	left: 0;
	right: 0;
	font-size: 60px;
	animation: scale-in 1.3s ease-out;
}

.bar{
	width: 100%;
	height: 100px;
	background-color: #000;
	opacity: 0.4;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	animation: roll-out 1.2s ease-out;
}
@keyframes scale-in{
	0%{
		transform: scale(3,3); opacity: 0;
	}
	100%{
		transform: scale(1,1); opacity: 1;
	}
}
@keyframes roll-out{
	0%{
		width:  0%;
	}
	100%{
		width: 100%;
	}
}
.copyright{
	text-align: center;
}